aws_region                  = "ap-northeast-2"
project_name                = "orderpage"
environment                 = "dev"
backend_ecr_repository_name = "orderpage-backend"

az_count             = 2
vpc_cidr             = "10.20.0.0/16"
public_subnet_cidrs  = ["10.20.1.0/24", "10.20.2.0/24"]
private_subnet_cidrs = ["10.20.101.0/24", "10.20.102.0/24"]
enable_nat_gateway   = true

kubernetes_version            = null
eks_public_access_cidrs       = ["0.0.0.0/0"]
eks_enabled_cluster_log_types = ["api", "audit", "authenticator"]
eks_node_instance_types       = ["t3.medium"]
eks_node_capacity_type        = "ON_DEMAND"
eks_node_desired_size         = 2
eks_node_min_size             = 1
eks_node_max_size             = 3
